/mvnw text eol=lf
*.cmd text eol=crlf

# Forcar o GitHub a ignorar TUDO que pesa e nao eh codigo seu
*.json linguist-generated=true
frontend/package-lock.json linguist-generated=true
frontend/dist/** linguist-vendored=true
frontend/node_modules/** linguist-vendored=true
frontend/.vite/** linguist-vendored=true