/mvnw text eol=lf
*.cmd text eol=crlf

# Ignorar arquivos gerados automaticamente nas estatisticas de linguagem
frontend/package-lock.json linguist-generated
frontend/package.json linguist-generated
frontend/dist/** linguist-vendored